<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        tr,th,td{
            border: 1px solid black;
        }
        body{
            text-align: center;
        }
        button{
            margin: 4px 0;
        }
        input{
            font-size: 1.1rem;
        }
    </style>
</head>
<body>
    <form action="/user/search" method="get">
        <input type="email" required placeholder="Enter email" name="search">
        <button>search</button>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
            <th><a href="/user/new">Add new user</a></th>
        </tr>
        <% for(data of result){ %>
            <tr>
                <td><%= data.id %></td>
                <td><%= data.email %></td>
                <td><%= data.username %></td>
                <td>
                    <form action="/user/<%= data.id %>/edit" method="get">
                        <button>Edit Username</button>
                    </form>
                    <br>
                    <form action="/user/<%= data.id %>/delete" method="get">
                        <button>Remove User</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>